extends layout_jqweui

block content
    style.
        .img{
            width:100%;
        }
    .page.js_show.list
      .page__hd
        h1.page__title=name
        p.page__desc=type+"/"+note.join('/')+"/"+area.join('/')
        p.page__desc=director.join('/')
        p.page__desc=actor.join('/')
        img(class="img" src=pic.join(''), alt="", srcset="")
        .page__desc        #{des.join('/').replace(/<[^>]+>/g,"")}           
      .page__bd
              <div class="weui-tab">
              -var dd = dl[0].dd
                .weui-navbar
                  each item  in dd
                    a(class="weui-navbar__item " href="#"+item.$.flag)=item.$.flag
                .weui-tab__bd
                  each item ,k in dd
                      div(id=item.$.flag class="weui-tab__bd-item")
                        .weui-cells
                            //- #reverseBtn.weui-btn.weui-btn_primary 倒序
                            each playItem in item._.split('#')
                                -var urls= playItem.split('$')[1]
                                -var notes=playItem.split('$')[0]
                                a(class="weui-cell weui-cell_access playLink open-popup"  data-target="" data-href=urls)
                                  .weui-cell__bd
                                    p=notes
                                  .weui-cell__ft
                                    small 播放
      <div id="video" class="weui-popup__container" style="z-index:501">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal" style="z-index:501">
                <div class="weui-loadmore">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                    <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
                    <span class="weui-loadmore__tips"></span>
                </div>
                video#my-player(class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered" )
                    source
                .return.weui-btn.weui-btn_primary 返回
        </div>
      </div>
block scriptCode
    <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="https://cdn.bootcss.com/videojs-contrib-hls/5.14.1/videojs-contrib-hls.min.js"></script>
    script.
        (function($) {
            $.extend({
                reverseChild : function(obj, child) { 
                    var childObj = $(obj).find(child);
                    var total = childObj.length; 
                    childObj.each(function(i) { 
                        $(obj).append(childObj.eq((total-1)-i)); 
                    }); 
                }
            });
        })(jQuery);
        var player =null
        var playerIndex =null
        $(document).ready(function(){

            //reverseChild
            $('#reverseBtn').click(()=>{
                $.reverseChild('#weui-cells','a')
            })
            $('.weui-navbar__item:first').addClass('weui-bar__item--on')
            $('.return').click(function(){
                revert()
            })
            $('.weui-tab__bd-item:first').addClass('weui-tab__bd-item--active')
            $('.playLink').click(function(){
              $("#video").popup();
              $("#my-player").hide()
              $(".weui-loadmore").show()
              const  url =$(this).data('href')
              if(url.endsWith('index.m3u8')){
                 getplayer(url)
              }else{
                 getPlayUrl(url)
              }
            })
        })
      function getPlayUrl(url){
                $.get(
                    '/search/getPlayUrl?type=dianying&url='+url,
                    function(data,status){
                        playerIndex = $(this).next()
                        const {play_url} = data
                        getplayer(play_url)
                    }
                )}

      function  revert(){
                if(player &&player.pause) player.pause()
                $.closePopup()

      }
      function  getplayer(data){
          $("#my-player").show()
          $(".weui-loadmore").hide()
         const playType = getPlayType(data)
        let haveAd = false
        if( data.endsWith('index.m3u8')){
            haveAd = true
        }
          if(!player){
               player = videojs('my-player',{
                                   poster: "",
                                   controls: true,
                                    playbackRates: [0.5, 1, 1.5, 2],
                                   sources: [{
                                        src: data,
                                        type: playType //"application/x-mpegURL"//'video/mp4'
                                    }]
                               },function(){
                                   this.on('play',function(){
                                        console.log('正在播放');
                                        $.toptip('操作成功', 2000, 'success'); 
                                    }); 
                                    //暂停--播放完毕后也会暂停
                                    this.on('pause',function(){
                                                console.log("暂停中")
                                            }); 
                                    // 结束
                                    this.on('ended', function() {
                                        console.log('结束');
                                        if(playerIndex){
                                         playerIndex.click()
                                        }
                                    })
                                    this.on('error',function(){
                                        console.log("出错")
                                    })
                                    this.on('timeupdate',function(res){
                                            const times = [6*60,30*60,]
                                            let time =6*60 
                                            let timeLong = time +2*60+25
                                            if(this.currentTime()>time&&this.currentTime()<timeLong){
                                                    console.log(this.currentTime())
                                            }
                                        
                                    })
                               });
                               player.play()
                            }else{
                                if(player.options_.sources[0].src ==data){
                                    player.play()
                                    return
                                }
                                console.log(player)
                                player.src({
                                        src: data,
                                        type: playType //"application/x-mpegURL"//'video/mp4'
                                })
                            }
                             
        }
        function getPlayType(url){
            if(url.split('?')[0].endsWith('.mp4')){
                return 'video/mp4'
            }
            return "application/x-mpegURL"
        }
